body {
  font-family: Courier;
  font-size: 9pt;
}

div#gameFrame {
  border: 1px solid black;
  width: 960px;
  height: 720px;
  padding: 0px;
  margin: 0px 0px auto 0px;
}


table tbody tr td {
    border-width: 3px;
    background: #333;
    background-color: #333;
    color: #eee;
    padding: 2px;
}
div#boStatistics > table > tbody > tr > td {
    width: 33%;
}

div#paneFrame {
  position: relative;
  height: 540px;
  border: 1px solid rgba(255,255,0,255);
}

div#paneFrame > div {
  display: none;
}

div#grid {
  position: relative;
  top: -10px;
  left: -10px;
  color: grey;
  z-index: -10;
}

div#messageFrame {
  background: #333;
  color: #eee;
  font-weight: bold;
  padding: 2px;
}

div#messageLog {
  background: #666;
  border: 1px solid magenta;
  height: 85px;
  max-height:85px;
  overflow-y: scroll;
}

div#splash {
  border: 0px solid black;
  text-align: center;
}

div.pane {
  position: relative;
  display: none;
}

div.contentPane {
  margin-left: 50px;
  margin-top: 50px;
}

.hidden {
  display: none
}

.clickableArt:hover {
    cursor: pointer;
}

.clickableArt:hover {
    background: #EEEEEE;
}
